$header-info-color: #50994F;
$main-color: #50994F;
$border-presentation-color: #4e944d;
$hypothec-color-first: #699EC5;
$hypothec-color-second: #73D1CC;
$hypothec-color-last: #4F5299;
$progress : 23%;
$gallery-description-width-1: 600px;
$gallery-description-width-2: 470px;
$gallery-description-width-3: 550px;
$gallery-description-width-4: 577px;
$gallery-description-width-5: 540px;
$gallery-description-width-6: 570px;
$gallery-description-width-7: 540px;
$gallery-description-width-8: 600px;
$gallery-description-width-9: 600px;