.intro {
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  background-size: cover;

  @include desktop {
    padding-top: 190px;
    background-size: 1440px auto;
    margin-right: auto;
    margin-left: auto;
  }

  @include custom-media(1440px) {
    background-size: cover;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(27, 27, 27, 0.552) 0%, rgba(27, 27, 27, 0.736) 100%);
  }

  .section-row {
    position: relative;
    z-index: 2;

    @include desktop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .section-column {
    @include desktop {
      width: calc(100% - 50px - 488px);
    }
  }

  .section-title {
    text-align: left;
    font-weight: bold;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;

    .colored {
      color: $main-color;
    }

    @include tablet {
      padding-right: 0;
      max-width: none;
    }
  }

  .section-subtitle {
    margin-top: 16px;
    text-align: left;
    font-size: 23px;
    line-height: 33px;
    color: #FFFFFF;
  }

  .section-subtitle--last {
    margin-top: 170px;

    @include desktop {
      margin-top: 0;
    }
  }

  .tags {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin-top: 6px;
    margin-right: 6px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 8px;

    &:last-child {
      margin-right: 85px;
    }

    @include tablet {
      margin-top: 8px;
      margin-right: 8px;
      font-size: 16px;
      padding: 8px 16px;
    }
  }

  .section-column--mob {
    @include desktop {
      display: none;
    }
  }

  .section-column--desk {
    display: none;
    @include desktop {
      display: block;
    }
  }

  .section-column--form {
    max-width: 488px;
    margin: 15px auto 0;
    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid $main-color;
    border-radius: 30px;
    position: relative;

    @include custom-media(580px) {
      margin-top: 50px;
    }

    @include desktop {
      margin-top: 0;
    }
  }

  .section-decor--vaucher {
    position: absolute;
    right: -25px;
    top: -60px;
    width: 124px;
    height: 124px;
  }

  .section-decor {
    position: absolute;
    width: 422px;
    right: -200px;
    bottom: -220px;

      @include desktop {
        right: -120px;
      }
  }

  .form-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-right: 70px;
    position: relative;
    z-index: 2;

    &--vauch {
      padding-right: 70px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 28px;
      padding-right: 55px;
    }
  }

  .form-col {
    max-width: 357px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
  }

  .form-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
  }

  .form-input {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    height: 55px;
    border: none;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  .btn {
    display: block;
    margin-top: 20px;
    color: #FFFFFF;
    width: 222px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
  }

  .form-star {
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

  .section-action {
    cursor: pointer;
    margin-top: 60px;
    z-index: 2;
    position: relative;
    background: #FFFFFF;
    border-radius: 110px;
    width: 240px;
    display: flex;
    align-items: center;
    padding: 4px;
    padding-right: 20px;

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin-left: 11px;
    }
  }

  .section-decor .section-decor__image {
    @include desktop {
      animation: first_screen_mockup;
      animation-duration: 2.8s;
      animation-iteration-count: infinite;
    }
  }

  @keyframes  first_screen_mockup {
    from {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
  }
}

.pulse {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: -5px;
    transform: translateY(-51%) scale(0.5);
    border-radius: 50%;
    background: rgba(1, 129, 255, 0.18);
    animation: pulse 2s linear infinite;
  }
}
@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(0.6);
  }
  50% {
    transform: translateY(-50%) scale(1.1);
  }

  100% {
    transform: translateY(-50%) scale(0.6);
  }
}